body,button,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,td,tr,ul,li{
	margin: 0 ;
	padding: 0;
}
body{
	font-size:12px;
	font-family:SimSun,Arial,"微软雅黑";
	color:#555;
	background:#fff;
}
img{
	display: block;
	border: none;
}
ol,ul,li{
	list-style: none;
}
a{
	color: #555;
	text-decoration: none;
	outline:none;
}
a:hover{
	color: #e70012;
	text-decoration: underline;
}
.fl {float:left;}
.fr {float:right;}
.none{
	display: block;
}

/* ---------top_ad-----------*/
.top_ad_box{
	width: 100%;
    margin: 0 auto;
	overflow: hidden;
}
.top_ad{
	width: 100%;
}
/* toolbar */
.toolbar {
    margin: 0 auto;
    width: 1200px;
	height: 29px;
	line-height:29px;
	border-bottom: 1px solid #e7e7e7;
	background:#fff;
}
.toolbar-cont ul li {
	float: left;
	padding:0 5px;
	font-family:"微软雅黑";
}

.toolbar-cont .reg,.toolbar-cont .log {color: #ed4545;}
.toolbar-cont .alipay,.toolbar-cont .qq,.toolbar-cont .weibo {
	display: block;
    height: 20px;
    margin-top: 4px;
    text-indent: -999px;
    overflow: hidden;
}
.toolbar-cont .alipay {
	width: 90px;
	background: url(../images/13.jpg) no-repeat;
}
.toolbar-cont .qq {
	width: 50px;
	background: url(../images/14.jpg)  no-repeat;
}
.toolbar-cont .weibo {
	width: 85px;
	background: url(../images/15.jpg) no-repeat;
}
.toolbar-cont ul .tspacer {
    width: 1px;
    padding: 0;
    color: #ddd;
    text-align: center;
}
.toolbar-cont .serv {
    display: inline-block;
    height: 16px;
    width: 70px;
    line-height: 16px;
    color: #fff !important;
    padding: 6px 15px 7px;
    background-color: #f14648;
    overflow: hidden;
    position: relative;
}
.toolbar-cont .serv i {
    width: 22px;
    height: 16px;
    overflow: hidden;
    margin-left: 5px;
    position: absolute;
    background: url(../images/18.jpg) no-repeat;
}
.top-follow {
    float: left;
    height: 29px;
    color: #999;
    position: relative;
    z-index: 99;
}
.top-follow .gzlp{
    display: none;
    position: absolute;
    top: 30px;
    left: 3px ;
    border: 1px solid #eee; 
    border-top: none;
    z-index: 10;
    padding:2px;
    background: #fff;
}
.top-follow .follow-on {
    display: none;
    position: absolute;
    left: 0px;
    top: 29px;
    z-index: 99;
    color: #666;
    padding: 0 10px;
    border: 1px solid #ddd;
    background: #fff;
}
.toolbar-cont .help, .toolbar-cont .follow {
    display: block;
    width: 50px;
}
.toolbar-cont .tel {
    float: left;
    display: block;
    height: 29px;
    padding-left: 20px;
    background: url(../images/17.jpg) 0px center no-repeat;
}
.toolbar-cont .tel em {
    font-size: 16px;
    font-weight: 600;
    color: #ff5160;
    font-family: "微软雅黑";
    vertical-align: -1px;
}
.dorp-title {
    padding: 0 20px 0 5px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.dorp-title .arrow {
    position: absolute;
    right: 5px;
    top: 10px;
    display: block;
    width: 10px;
    height: 10px;
    transition: transform 0.1s ease-in 0s;
    background: url(../images/16.jpg) no-repeat center center;
}
.dorp-title:hover .arrow {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.dorpdown .dorp-title {
    color: #e60012;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-shadow: 0 0 5px #ddd;
}
.dorpdown .dorp-spacer {
    position: absolute;
    top: -1px;
    left: 0;
    width: 75px;
    height: 5px;
    background: #fff;
}
.top-user-info {
    position: relative;
}

.my-lppz {
    position: relative;
    display: block;
    width: 50px;
    text-align: right;
    cursor: pointer;
}
.my-lppz-layer {
    display: none;
    position: absolute;
    top: 29px;
    left: 0;
    z-index: 99;
    width: 260px;
    border: 1px solid #ddd;
    background: #fff;
}
.dorpdown .my-lppz-layer {
    display: block;
}
.my-lppz-layer .user-info {
    padding: 10px 15px;
    overflow: hidden
}
.my-lppz-layer .user-info .m-pic {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border: 1px solid #ddd;
    border-radius: 50%;
    overflow: hidden;
}
.my-lppz-layer .user-info .m-pic img {
    display: block;
    width: 60px;
    height: 60px;
}
.my-lppz-layer .user-info .m-name {
    font-weight: 600;
    padding: 5px 0 0;
    overflow: hidden;
    zoom: 1;
}
.my-lppz-layer .menu-list {
    padding: 0 15px 15px;
}
.my-lppz-layer .menu-list .m-nav {
    overflow: hidden;
    zoom: 1;
}
.my-lppz-layer .menu-list .m-btn {
    padding-top: 10px;
    overflow: hidden;
    zoom: 1;
}
.my-lppz-layer .menu-list .m-nav .item {
    float: left;
    width: 100px;
    line-height: 24px;
    padding-left: 15px;
    overflow: hidden;
}
.my-lppz-layer .menu-list .m-btn .item {
    float: left;
    width: 115px;
    overflow: hidden;
}
.my-lppz-layer .menu-list .m-btn .item a {
    display: block;
    width: 100px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 3px;
    background: #e61f19;
}
.my-lppz-layer .view-list .vl-title {
    line-height: 40px;
    padding: 0 15px;
    border-top: 1px dotted #ddd;
    overflow: hidden;
    zoom: 1;
}
.my-lppz-layer .view-list .vl-title h4 {
    float: left;
    font-weight: bold;
}
.my-lppz-layer .view-list .vl-title .more {
    float: right
}
.my-lppz-layer .view-list .vl-cont {
    padding: 0 10px 10px;
    overflow: hidden;
}
.my-lppz-layer .view-list .vl-cont li {
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 4px;
    padding: 0;
    border: 1px solid #eee;
}
.my-lppz-layer .view-list .vl-cont li img {
    display: block;
    width: 50px;
    height: 50px;
}
/*----------------headerbox----------------*/
.headerbox{
    width: 100%;
    height: 136px;
    border-bottom: 4px solid #e61f18;
    background: #fff;
}
.header {
    width: 1200px;
    margin: 0 auto;
}
.header .logo {
    float: left;
    margin: 30px 0 0 5px;
}
.header .logo a {
    display: block;
    width: 192px;
    height: 46px;
    overflow: hidden;
    background: url(../images/19.jpg) no-repeat;
}
.header .header_ser {
    float: left;
    width: 490px;
    margin: 18px 0 0 135px;
}
.header_ser .hot_ser {
    height: 22px;
    line-height: 22px;
    padding-left: 16px;
}
.header_ser .hot_ser a {
    color: #777;
}
.header_ser .hot_ser a.red {
    color: #ff5160;
}
.header_ser .ser_are {
    height: 33px;
    
    width: 490px;
    
}
.header_ser .ser_are .sch-key {
    float: left;
    width: 390px;
    color: #666;
    height: 33px;
    line-height: 33px;
    padding: 0 15px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #f04647;
    outline: none;
}
.header_ser .ser_are .sch-btn {
    float: left;
    width: 46px;
    height: 35px;
    text-indent: -999px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #f04647;
    outline: none;
    border-radius: 0px 15px 15px 0px;
    background: url(../images/21.jpg) 9px 6px no-repeat;
    background-color: #f04647; 
}
.header_shop{
    width: 138px;
    height: 32px;
    float: right;
    margin-top: 40px;
    position: relative;
}
.shop_cart{
    width: 123px;
    height: 32px;
    padding-left: 15px;
    float: left;
    position: relative;
}
.cart_btn{
    display: block;
    width: 103px;
    height: 32px;
    color: #fff;
    line-height: 32px;
    padding-left: 20px;
    background: url(../images/bg2.png) -137px -73px no-repeat;
}
.cart_btn:hover{
    color: #fff;
}
.cart_num{
    position: absolute;
    top: -15px;
    left: 105px;
    display: block;
    height: 20px;
    line-height: 20px;
    padding: 0 0 3px 8px;
    background: url(../images/bg2.png) -585px -65px no-repeat;
}
.cart_num b{
    display: block;
    height: 20px;
    color: #e61002;
    padding-right: 8px;
    background: url(../images/bg2.png) right -40px no-repeat;
    font-weight: normal;
}
.cart_list{
    position: absolute;
    right: 0;
    top: 32px;
    width: 330px;
    border:1px solid #ddd;
    background: #fff;
    z-index: 100;
}
.cart_list .tit{
    display: block;
    line-height: 28px;
    padding: 0 10px;
    color: #666;
    font-weight: 600;
} 
.cart_roll{
    max-height: 320px;
    overflow: hidden;
    overflow-y:auto;
    border-top: 1px solid #ddd;
    background: #fff; 
}
.cart_goods{
    display: block;
}
.cart_goods li{
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.cart_goods li .gd_lft{
    float: left;
    width: 210px;
}
.cart_goods li .gd_lft .pic{
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.cart_goods li .gd_lft .pic img{
    display: block;
    height: 50px;
    height: 50px;
}
.cart_goods li .gd_lft .tit{
    line-height: 20px;
    padding-top: 5px;
}
.cart_goods li .gd_price{
    float: right;
    width: 70px;
    text-align: center;
}
.cart_goods li .gd_price span{
    display: block;
    line-height: 22px;
    color: red;
}
.cart_goods li .gd_price span small{
    color: #666;
    padding-left: 3px;
}
.cart_goods li .gd_price a{
    display: block;
    width: 70px;
    height: 14px;
}
.total{
    width: 310px;
    height: 49px;
    padding: 10px;
    text-align: right;
    background: #eee;
}
.total p{
    padding-bottom: 5px;
}
.total p span{
    color: red;
    text-align: center;
}
.total a{
    display: inline-block;
    color: #fff;
    width: 100px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: #f04747 url(../images/bg2.png) -351px -235px no-repeat;
}
.menu_box{
    margin: 0 auto;
    width: 980px;
}
.menu{
    margin: 0 auto;
}
.menu .menu-list{
    width: 980px;
    height: 30px;
    float: left;
    margin-top: 22px;
    line-height: 30px;
    padding-left: 97px;
}
.menu .menu-list li {
    float: left;
    text-align: center;
    font-size: 14px;
    font-family: "微软雅黑";
}
.menu .menu-list li a {
    display: block;
    width: 90px;
    height: 30px;
    color: #444;
    font-weight: 600;
}
.menu  .menu-list li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #e61f19;
    border: 1px solid #e61f19;
    border-radius: 5px 5px 0 0;
}

/*-----------banner----------*/

#bannerbox{
    width: 100%;
    height: auto; 
    background: #e9ecec; 
}
#banner{
    width: 1200px;
    margin: 0 auto;
    height: auto;
    position: relative;
}
/*#banner #banner_left{
    position: absolute;
    width: 179px;
    height: 474px;
    background: #fff;
}*/
.goods {
    position: absolute;
    top: -34px;
    left: 0;
    z-index: 99;
    width: 178px;
    height: 473px;
    border: 1px solid #e61f19;
    border-top: none;
    font-family: "微软雅黑";
    background: #fff;
}
.goods .fenlei {
    position: relative;
    display: block;
    height: 34px;
    line-height: 34px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding-left: 60px;
    background: #e61f19 url(../images/24.jpg) 35px 11px no-repeat;
}
.goods .fenlei span {
    float: left;
    padding-left: 5px;
}
.goods .fenlei i.icon {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 12px;
    height: 6px;
    background: url(../images/25.jpg) no-repeat;
}
.goods .sort-nav {
    position: relative;
    z-index: 100;
    width: 178px;
    background: #fff;
}
.goods .sort-nav ul {
    padding-top: 5px;
}
.goods .sort-nav ul li {
    height: 36px;
}
.goods .sort-nav ul li:hover {
    color: #fff;
    background: #e61f19;
}
.sort-nav .top-sort {
    height: 36px;
    padding: 0 10px;
}
.sort-nav .top-sort a {
    position: relative;
    display: block;
    height: 35px;
    line-height: 36px;
    font-size: 15px;
    color: #666;
    font-weight: normal;
    padding-left: 23px;
    border-bottom: 1px solid #e8e8e8;
}
.sort-nav .top-sort a:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #e61f19;
}
.sort-nav .top-sort a .iconfont {
    padding-right: 30px;
}
.sort-nav .top-sort a .iconfont {
    color: #fff;
}
.sort-nav .top-sort a i.jg {
    background: url(../images/26.jpg) no-repeat;
}
.sort-nav .top-sort a:hover i.jg {
    background: url(../images/26_1.jpg) no-repeat;
}
.sort-nav .top-sort a i.rp {
    background: url(../images/27.jpg) 0 5px no-repeat;
}
.sort-nav .top-sort a:hover i.rp {
    background: url(../images/27_1.jpg) 0 5px no-repeat;
}
.sort-nav .top-sort a i.gg {
    background: url(../images/28.jpg) no-repeat;
}
.sort-nav .top-sort a:hover i.gg {
    background: url(../images/28_1.jpg) no-repeat;
}
.sort-nav .top-sort a i.gd {
    background: url(../images/29.jpg) no-repeat;
}
.sort-nav .top-sort a:hover i.gd {
    background: url(../images/29_1.jpg) no-repeat;
}
.sort-nav .top-sort a i.ss {
    background: url(../images/30.jpg) no-repeat;
}
.sort-nav .top-sort a:hover i.ss {
    background: url(../images/30_1.jpg) no-repeat;
}
.sort-nav .top-sort a i.hc {
    background: url(../images/31.jpg) no-repeat;
}
.sort-nav .top-sort a:hover i.hc {
    background: url(../images/31_1.jpg) no-repeat;
}
.sort-nav .top-sort a i.jk {
    background: url(../images/32.jpg) no-repeat;
}
.sort-nav .top-sort a:hover i.jk {
    background: url(../images/32_1.jpg) no-repeat;
}
.sort-nav .top-sort a i.jx {
    background: url(../images/33.jpg) no-repeat;
}
.sort-nav .top-sort a:hover i.jx {
    background: url(../images/33_1.jpg) no-repeat;
}
.sort-nav .top-sort a i.dj {
    background: url(../images/34.jpg) no-repeat;
}
.sort-nav .top-sort a:hover i.dj {
    background: url(../images/34_1.jpg) no-repeat;
}
.sort-nav .sub-sort {
    display: none;
    position: absolute;
    left: 178px;
    top: -1px;
    z-index: 100;
    min-height: 439px;
    height: 439px;
    padding: 0 10px;
    border: 1px solid #e61f19;
    background: #fff;
}
.sort-nav .sub-sort a:hover {
    background: #fff;

}
.sort-nav li .sub-sort {
    display: none;
}
.sort-nav .sub-sort .sub-sort-list {
    float: left;
}
.sort-nav .sub-sort .sub-sort-list li {
    height: 36px;
}
.sort-nav .sub-sort .sub-sort-list li a {
    display: block;
    width: 80px;
    height: 35px;
    line-height: 36px;
    text-decoration: none;
    padding-left: 30px;
    border-bottom: 1px solid #e8e8e8;
    white-space: nowrap;
}
#bannerbox{
    background: #e9ecec; 
}
#banner #banner_center{
    float: left;
    margin-left: 179px;
    width: 800px;
    height: 440px;
    overflow: hidden;
}
#banner_center #pic_box{
    width: 800px;
    height: 440px;
    position: relative;
    cursor: pointer;
}
#pic_ul{
    width: 800px;
    height: 440px;
    position: relative;
}
#pic_ul li{
    width: 800px;
    height: 440px;
    position: absolute;
    opacity: 0;
}
#pic_ul li img{
    height: 100%;
    width: 100%;
}
#btn_ul{
    width: 105px;
    height: 25px;
    position: absolute;
    left: 354px;
    bottom: 8px;
}
#btn_ul li{
    margin:0;
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    background: #99706b;
    margin-right: 10px;
    text-align: center;
    line-height: 25px;
    padding: 0;
}
#btn_ul li:hover{background: #a40025;}
#banner #banner_right{
    float: left;
    width: 221px;
    height: 440px;
}

/*------------------活动-----------------*/


.activity{
    width: 1200px;
    margin: 0 auto;
    height: 270px;
}
.activity .act-list{
    width: 1200px;
    padding-top: 25px;
}
.act-list li{
    float: left;
    width: 300px;
}
.act-list li h3{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}
.act-list-cont{
    width: 290px;
    height: 200px;
    padding-left:10px; 
}
/*---------------天天特惠------------*/
.discount {
    width: 1200px;
    margin:0 auto;
    height: 286px;
    margin-bottom: 34px;
}
.discount .discount_tit {
    position: relative;
    height: 40px;
    line-height: 40px;
}
.discount .discount_tit h2 {
    float: left;
    font-size: 16px;
    padding-left: 10px;
}
.discount .discount_tit .discount_tabs {
    position: absolute;
    left: 150px;
    bottom: -6px;
    z-index: 2;
}
.discount .discount_area {
    overflow: hidden;
    zoom: 1;
}
.discount_tabs li {
    float: left;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
.discount_tabs li a {
    display: block;
    width: 108px;
    height: 30px;
    line-height: 30px;
    padding-bottom: 6px;
    text-align: center;
}
.discount_tabs li.active a, .discount_tabs li.active a:hover {
    color: #fff;
    text-decoration: none;
    background: url(../images/thbg.jpg) 0 -2px no-repeat;
}
.discount_area .discount_area_list {
    display: none;
}
.discount_area .discount_area_list li {
    float: left;
    width: 240px;
    height: 260px;
    overflow: hidden;
}
.discount_area .discount_area_list li img {
    display: block;
    width: 240px;
    height: 260px;
}

/*--------------楼梯---------------------*/
.storey_food {
    width: 1200px;
    margin: 0 auto;
    height: 403px;
    font-family: "Microsoft YaHei";
    overflow: hidden;
}
.storey_food .stor_top {
    float: left;
    width: 240px;
}
.storey_food .stor_top .stor_title {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    overflow: hidden;
}
.stor_top .stor_title span {
    float: left;
    font-size: 22px;
    font-weight: 600;
    margin-right: 5px;
}
.stor_top .stor_title h2 {
    font-size: 16px;
    padding-top: 2px;
}
.stor_slide {
    float: left;
    position: relative;
    width: 240px;
    height: 343px;
    overflow: hidden;
}
.stor_slide .stor_list {
    position: relative;
    width: 240px;
    overflow: hidden;
}
.stor_slide .stor_list li {
    height: 343px;
}
.stor_slide .stor_list li img {
    display: block;
    width: 240px;
    height: 343px;
}
.storey_cont {
    float: left;
    width: 960px;
}
.storey_cont .sc_title {
    height: 30px;
    line-height: 30px;
    padding-top: 10px;
    border-bottom: 2px solid #ff5160;
}
.sc_title .sct_tabs {
    float: left;
}
.sc_title .sct_tabs li {
    float: left;
    font-size: 14px;
}
.sc_title .sct_tabs li a {
    display: block;
    width: 94px;
    height: 30px;
    text-align: center;
    color: #ff5160;
}
.sc_title .sct_tabs li.active a:hover {
    text-decoration: none;
}

.sc_title .sct_tabs li.active a {
    color: #fff;
    background: url(../images/ltbg.jpg) 0 1px no-repeat;
}
.sc_title .sct_hot {
    float: right;
    color: #bbb;
}
.sc_title .sct_hot a {
    padding: 0 5px;
}
.sc_title .sct_hot span {
    color: #555;
}
.sc_title .sct_hot .more {
    margin-left: 15px;
}
.sc_title .sct_hot .more:hover {
    text-decoration: none;
}
.sc_title .sct_hot .more i {
    margin-left: 2px;
}
.storey_cont .sc_info .sin_node {
    display: none;
}
.storey_cont .sc_info .node_list {
    float: left;
    width: 720px;
    overflow: hidden;
    zoom: 1;
}
.node_list li {
    position: relative;
    float: left;
    width: 229px;
    height: 170px;
    padding: 0 5px;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    overflow: hidden;
}
.node_list li .p_img {
    width: 170px;
    height: 170px;
    margin: 0 auto;
}
.node_list li .p_img img {
    display: block;
    width: 170px;
    height: 170px;
}
.node_list li .p_info {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 220px;
    height: 50px;
    padding: 0 10px;
}
.node_list li .p_info .name {
    display: block;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #333;
    text-shadow: 0 0 2px #fff;
    padding-top: 3px;
    overflow: hidden;
    zoom: 1;
}
.node_list li .p_info .price {
    position: relative;
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    color: #e4393c;
    font-weight: 600;
    font-family: Arial, Verdana;
}
.node_list li .p_info .price small:first-child {
    font-size: 12px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
}
.node_list li .p_info .price del {
    font-size: 12px;
    color: #666;
    font-weight: normal;
    margin-left: 15px;
}
.node_list li .p_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 50px;
    background: #fff;
    filter: Alpha(opacity=80);
    background: rgba(255, 255, 255, 0.8);
}
.node_first {
    float: left;
    width: 239px;
    height: 341px;
    padding: 0;
    margin: 0;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    overflow: hidden;
}
.node_first img {
    display: block;
    width: 240px;
    height: 340px;
}
/*--------------良品咨询-----------*/
.lpzx {
    width: 1200px;
    margin: 0 auto;
    height: 352px;
    margin-bottom: 44px;
}
.lpzx h2 {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    padding-left: 10px;
}
.lpzx ul {
    width: 1200px;
    overflow: hidden;
}
.lpzx ul li {
    float: left;
    width: 390px;
    margin-right: 15px;
}
.lpzx ul li.lpwb {
    float: left;
    width: 390px;
    margin-right:0px;
    
}
.lpzx ul .lpwb img{
    border: 2px solid #eee;
    border-top: 2px solid red;
}
.lpzx ul li h3 {
    height: 30px;
    font-weight: normal;
    line-height: 30px;
    padding-left: 10px;
}
.lpzx ul li .pic_nr {
    width: 390px;
    height: 300px;
    overflow: hidden;
}
.lpzx ul li .pic_nr img {
    display: block;
    width: 390px;
    height: 300px;
}
/*-----------楼层定位-----------*/
.floor-nav {
    display: none;
    position: fixed;
    top: 50%;
    left: 20px;
    z-index: 100;
    margin-top: -145px;
    width: 42px;
}
.floor-nav .fn-tit {
    display: block;
    width: 32px;
    height: 37px;
    line-height: 14px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 6px 5px 0 5px;
    background: #df2627;
}
.floor-nav ul {
    background: #fff;
}
.floor-nav ul li {
    width: 42px;
    height: 42px;
    display: block;
}
.floor-nav ul li a {
    display: block;
    width: 30px;
    height: 33px;
    line-height: 14px;
    text-align: center;
    padding: 7px 5px 0 5px;
    border: 1px solid #dedede;
    border-bottom: none;
    overflow: hidden;
}
.floor-nav ul li a span {
    display: none;
}
.floor-nav ul li a:hover, .floor-nav ul li a:hover span {
    display: block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #df2627;
    border-top: none;
    border-bottom: 2px solid #df2627;
    background-image: none;
    background-color: #df2627;
}
/*---------footer----------*/
.footer {
    width: 100%;
    margin-top: 20px;
    font-family: "微软雅黑";
    background: #f5f5f5;
}
.foot_service {
    border-bottom: 1px solid #dfdfdf;
    background: #fff;
}
.foot_service ul {
    width: 1150px;
    margin: 0 auto;
    padding: 20px 0 20px 50px;
    overflow: hidden;
}
.foot_service ul li {
    float: left;
    width: 150px;
    line-height: 20px;
    font-size: 16px;
    padding-left: 40px;
    background: url(../images/bg.png) 0 -180px no-repeat;
}
.foot_service ul li .p1 {
    color: #333;
}
.foot_service ul li .p2 {
    color: #777;
}
.foot_service ul .li1 {
    background-position: 0 -180px;
}
.foot_service ul .li2 {
    background-position: 0 -228px;
}
.foot_service ul .li3 {
    background-position: 0 -277px;
}
.foot_service ul .li4 {
    background-position: 0 -327px;
}
.foot_service ul .li5 {
    background-position: 0 -373px;
}
.foot_service ul .li6 {
    background-position: 0 -425px;
}
/*---------灰色背景区-----------*/
.footer .foot_area {
    width: 1200px;
    margin: 0 auto;
    height: 346px;
}
.foot_cont {
    padding: 20px 0 20px 50px;
    height: 150px;
}
.foot_cont .rxlx {
    float: left;
    width: 240px;
}
.foot_cont .rxlx {
    float: left;
    width: 240px;
}
.foot_cont .rxlx .rxlx_rx {
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 10px;
    text-indent: -999px;
    overflow: hidden;
    background: url(../images/bg.png) 0 0 no-repeat;
}
.foot_cont .rxlx .rxlx_lx {
    margin-left: 30px;
}
.foot_cont .rxlx .rxlx_lx p {
    font-size: 14px;
    padding: 5px 0;
    color: #8a8a8a;
}
.foot_cont .rxlx .rxlx_lx strong {
    font-size: 16px;
    color: #555;
}
.foot_cont .links {
    float: left;
    padding-left: 40px;
}
.foot_cont .links dl {
    float: left;
    width: 120px;
}
.foot_cont .links dl dt {
    line-height: 40px;
    font-size: 14px;
    color: #555;
}
.foot_cont .links dl dd a {
    display: block;
    height: 22px;
    line-height: 22px;
    color: #666;
}
/*----------------------------------*/
/*-------------微博关注-------------*/
/*----------------------------------*/
.foot_cont .wb_follow {
    float: right;
    width: 260px;
    height: 150px;
}
.wb_follow .wbsm {
    float: left;
    width: 120px;
    overflow: hidden;
}
.wb_follow .wbsm img {
    display: block;
    width: 110px;
    height: 130px;
}
.wb_follow .wbsm span {
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
}
.wb_follow .weibo_mail {
    margin-left: 120px;
}
.weibo_mail .wb_tit {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #8a8a8a;
}
.weibo_mail .wb_pic{
    height: 64px;
    background: url(../images/gzrs.jpg) 64px 0 no-repeat;
}
.weibo_mail .wb_pic img{
    display: inline-block;
    float: left;
    width: 64px;
}
.weibo_mail .wb_pic span{
    height: 22px;
    line-height: 22px;
    width: 64px;
    text-align: center;
    float: left;

}
.weibo_mail .wb_pic span:hover{
    color:blue;
}

/*----------------------------------*/
/*-------------底部导航-------------*/
/*----------------------------------*/
.foot_nav {
    width:1200px;
    margin: 0 auto; 
    text-align: center;
    height: 
}
.foot_nav ul {
    display:inline-block;
    text-align: center;
}
.foot_nav ul li {
    float: left;
    color: #999;
}
.foot_nav ul li a {
    padding: 0 15px;
}
.Copyright {
    text-align: center;
    padding: 20px 0;
    color: #777;
}
.Copyright a {
    color: #777;
}
.Copyright img{
    display: inline-block;
}
/*----------右边定位--------*/
.right-navbar {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
    width: 36px;
    height: 100%;
    background-color: #363940;
}
.right-navbar .rnb-list {
    margin-top: 50px;
}
.right-navbar li {
    height: 35px;
    margin-top: 10px;
    font: 13px/35px "微软雅黑";
}
.right-navbar a {
    display: block;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
.right-navbar a.hvr {
    position: relative;
}
.right-navbar a.hvr span {
    display: block;
    position: absolute;
    z-index: 900;
    top: 0;
    right: -105px;
    width: 70px;
    padding-left: 15px;
    height: 100%;
    color: #fff;
    background-color: #df2627;
}
.right-navbar a:hover {
    background-color: #df2627;
}
.right-navbar a:hover div {
    background-color: #df2627;
}
.right-navbar .gw {
    height: 120px;
}
.right-navbar .gw span {
    display: block;
    width: 16px;
    padding: 0 10px 6px;
    line-height: 18px;
    text-align: center;
    color: #fff;
}
.right-navbar .gw .sum {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    line-height: 24px;
    text-align: center;
    color: #fff;
    vertical-align: top;
    background: url(../images/bg.png) -104px -1006px no-repeat;
}
.right-navbar .rnb-link {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.right-navbar .qr .cust {
    display: none;
    position: absolute;
    bottom: 10px;
    left: -152px;
    width: 150px;
    height: 175px;
    border: 1px solid #d1d1d1;
    background-color: #fff;
}
.right-navbar .qr .cust img {
    width: 150px;
    height: 175px;
}
/*.right-navbar .qr .cust .arrow {
    position: absolute;
    bottom: 0px;
    right: -7px;
    width: 7px;
    height: 12px;
    background: url(../images/bg2.png) -450px 0 no-repeat;
    overflow: hidden;
}*/