body,button,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,td,tr,ul,li{
    margin: 0 ;
    padding: 0;
}
body{
    font-size:12px;
    font-family:SimSun,Arial,"微软雅黑";
    color:#555;
    background:#fff;
}
img{
    display: block;
    border: none;
}
ol,ul,li{
    list-style: none;
}
a{
    color: #555;
    text-decoration: none;
    outline:none;
}
a:hover{
    color: #e70012;
    text-decoration: underline;
}
.fl {float:left;}
.fr {float:right;}
.none{
    display: block;
}
/* toolbar */
.toolbar_box{
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
.toolbar {
    margin: 0 auto;
    width: 981px;
	height: 29px;
	line-height:29px;
	
	background:#fff;
}
.toolbar-cont ul li {
	float: left;
	padding:0 5px;
	font-family:"微软雅黑";
}

.toolbar-cont .reg,.toolbar-cont .log {color: #ed4545;}
.toolbar-cont .alipay,.toolbar-cont .qq,.toolbar-cont .weibo {
	display: block;
    height: 20px;
    margin-top: 4px;
    text-indent: -999px;
    overflow: hidden;
}
.toolbar-cont .alipay {
	width: 90px;
	background: url(../images/13.jpg) no-repeat;
}
.toolbar-cont .qq {
	width: 50px;
	background: url(../images/14.jpg)  no-repeat;
}
.toolbar-cont .weibo {
	width: 85px;
	background: url(../images/15.jpg) no-repeat;
}
.toolbar-cont ul .tspacer {
    width: 1px;
    padding: 0;
    color: #ddd;
    text-align: center;
}
.toolbar-cont .serv {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    color: #fff !important;
    padding: 6px 15px 7px;
    background-color: #f14648;
    overflow: hidden;
}
.toolbar-cont .serv i {
    width: 22px;
    height: 16px;
    overflow: hidden;
    margin-left: 5px;
    background: url(../images/18.jpg) no-repeat;
}
.top-follow {
    float: left;
    height: 29px;
    color: #999;
    position: relative;
    z-index: 99;
}
.top-follow .follow-on {
    display: none;
    position: absolute;
    left: 0px;
    top: 29px;
    z-index: 99;
    color: #666;
    padding: 0 10px;
    border: 1px solid #ddd;
    background: #fff;
}
.top-follow .follow-on span {
    white-space:nowrap;
}
.top-follow .follow-on .fll-wb {
    padding-bottom: 10px;
    border-bottom: 1px dotted #ddd;
}
.top-follow .follow-on .fll-wx {
    padding: 5px 0;
}
.top-follow .follow-on .fll-wx .wbsm {
    text-align: center;
}
.top-follow .follow-on .fll-wx .wbsm img {
    display: block;
    width: 150px;
    height: 175px;
}
.top-follow .follow-on .fll-wx p {
    width: 100px;
    height: 32px;
    line-height: 16px;
    padding: 5px 0 5px 35px;
    white-space:nowrap;
    overflow: hidden;
    background: url(../images/p8_img.png) -570px 7px no-repeat;
}
.top-help {
    float: left;
    height: 29px;
    color: #999;
    position: relative;
}
.top-help .hp-nav {
    display: none;
    position: absolute;
    left: 0;
    top: 29px;
    width: 75px;
    border: 1px solid #eee;
    background: #fff;
}
.top-help .hp-nav a {
    display: block;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
}
.toolbar-cont .help, .toolbar-cont .follow {
    display: block;
    width: 50px;
}
.toolbar-cont .tel {
    float: left;
    display: block;
    height: 29px;
    padding-left: 20px;
    background: url(../images/17.jpg) 0px center no-repeat;
}
.toolbar-cont .tel em {
    font-size: 16px;
    font-weight: 600;
    color: #ff5160;
    font-family: "微软雅黑";
    vertical-align: -1px;
}
.dorp-title {
    padding: 0 20px 0 5px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.dorp-title .arrow {
    position: absolute;
    right: 5px;
    top: 10px;
    display: block;
    width: 10px;
    height: 10px;
    transition: transform 0.1s ease-in 0s;
    background: url(../images/16.jpg) no-repeat center center;
}
.dorpdown .dorp-title {
    color: #e60012;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-shadow: 0 0 5px #ddd;
}
.dorpdown .dorp-spacer {
    position: absolute;
    top: -1px;
    left: 0;
    width: 75px;
    height: 5px;
    background: #fff;
}
.dorp-title:hover .arrow {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.top-user-info {
    position: relative;
}
.my-lppz {
    position: relative;
    display: block;
    width: 50px;
    text-align: right;
    cursor: pointer;
}
.my-lppz-layer {
    display: none;
    position: absolute;
    top: 29px;
    left: 0;
    z-index: 99;
    width: 260px;
    border: 1px solid #ddd;
    background: #fff;
}
.dorpdown .my-lppz-layer {
    display: block;
}
.my-lppz-layer .user-info {
    padding: 10px 15px;
    overflow: hidden
}
.my-lppz-layer .user-info .m-pic {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border: 1px solid #ddd;
    border-radius: 50%;
    overflow: hidden;
}
.my-lppz-layer .user-info .m-pic img {
    display: block;
    width: 60px;
    height: 60px;
}
.my-lppz-layer .user-info .m-name {
    font-weight: 600;
    padding: 5px 0 0;
    overflow: hidden;
    zoom: 1;
}
.my-lppz-layer .menu-list {
    padding: 0 15px 15px;
}
.my-lppz-layer .menu-list .m-nav {
    overflow: hidden;
    zoom: 1;
}
.my-lppz-layer .menu-list .m-btn {
    padding-top: 10px;
    overflow: hidden;
    zoom: 1;
}
.my-lppz-layer .menu-list .m-nav .item {
    float: left;
    width: 100px;
    line-height: 24px;
    padding-left: 15px;
    overflow: hidden;
}
.my-lppz-layer .menu-list .m-btn .item {
    float: left;
    width: 115px;
    overflow: hidden;
}
.my-lppz-layer .menu-list .m-btn .item a {
    display: block;
    width: 100px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 3px;
    background: #e61f19;
}
.my-lppz-layer .view-list .vl-title {
    line-height: 40px;
    padding: 0 15px;
    border-top: 1px dotted #ddd;
    overflow: hidden;
    zoom: 1;
}
.my-lppz-layer .view-list .vl-title h4 {
    float: left;
    font-weight: bold;
}
.my-lppz-layer .view-list .vl-title .more {
    float: right
}
.my-lppz-layer .view-list .vl-cont {
    padding: 0 10px 10px;
    overflow: hidden;
}
.my-lppz-layer .view-list .vl-cont li {
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 4px;
    padding: 0;
    border: 1px solid #eee;
}
.my-lppz-layer .view-list .vl-cont li img {
    display: block;
    width: 50px;
    height: 50px;
}
.top-follow {
    float: left;
    height: 29px;
    color: #999;
    position: relative;
    z-index: 99;
}
.top-follow .gzlp{
    display: none;
    position: absolute;
    top: 30px;
    left: 3px ;
    border: 1px solid #eee; 
    border-top: none;
    z-index: 10;
    padding:2px;
    background: #fff;
}
/*---------headerbox----------*/
.headerbox{
    width: 100%;
    height: 126px;
    border-bottom: 4px solid #e61f18;
    background: #fff;
}
.header {
    width: 981px;
    margin: 0 auto;
    height: 96px;
}
.header .logo{
    float: left;
    width: 192px;
    height: 46px;
    margin: 30px 0 0 5px;
}
.header .header_ser{
    float: left;
    width: 400px;
    height: 55px;
    margin: 18px 0 0 90px;
}
.header .header_ser .hot_ser{
    width: 385px;
    padding-left: 15px;
    height: 22px;
    line-height: 22px;
}
.header_ser .hot_ser a {
    color: #777;
}
.header_ser .hot_ser a.red {
    color: #ff5160;
}
.header .header_ser .ser_are{
    width: 400px;
    height: 33px;
}
.header .header_ser .ser_are form{
    display: block;
}
.sch_key{
    float: left;
    width:305px;
    height: 33px;
    padding:0 15px;
    border: none;
    outline: none;
    background: url(../images/bg2.png) 0 -30px no-repeat; 
}
.sch_btn{
    outline: none;
    float: left;
    width: 46px;
    height: 33px;
    border: none;
    overflow: hidden;
    background: url(../images/bg2.png) -474px -30px no-repeat;
}


/*----------购物车---------*/
.header_shop{
    width: 138px;
    height: 32px;
    float: right;
    margin-top: 40px;
    position: relative;
}
.shop_cart{
    width: 123px;
    height: 32px;
    padding-left: 15px;
    float: left;
    position: relative;
}
.cart_btn{
    display: block;
    width: 103px;
    height: 32px;
    color: #fff;
    line-height: 32px;
    padding-left: 20px;
    background: url(../images/bg2.png) -137px -73px no-repeat;
}
.cart_btn:hover{
    color: #fff;
}
.cart_num{
    position: absolute;
    top: -15px;
    left: 105px;
    display: block;
    height: 20px;
    line-height: 20px;
    padding: 0 0 3px 8px;
    background: url(../images/bg2.png) -585px -65px no-repeat;
}
.cart_num b{
    display: block;
    height: 20px;
    color: #e61002;
    padding-right: 8px;
    background: url(../images/bg2.png) right -40px no-repeat;
    font-weight: normal;
}
.cart_list{
    position: absolute;
    right: 0;
    top: 32px;
    width: 330px;
    border:1px solid #ddd;
    background: #fff;
    z-index: 100;
}
.cart_list .tit{
    display: block;
    line-height: 28px;
    padding: 0 10px;
    color: #666;
    font-weight: 600;
} 
.cart_roll{
    max-height: 320px;
    overflow: hidden;
    overflow-y:auto;
    border-top: 1px solid #ddd;
    background: #fff; 
}
.cart_goods{
    display: block;
}
.cart_goods li{
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.cart_goods li .gd_lft{
    float: left;
    width: 210px;
}
.cart_goods li .gd_lft .pic{
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.cart_goods li .gd_lft .pic img{
    display: block;
    height: 50px;
    height: 50px;
}
.cart_goods li .gd_lft .tit{
    line-height: 20px;
    padding-top: 5px;
}
.cart_goods li .gd_price{
    float: right;
    width: 70px;
    text-align: center;
}
.cart_goods li .gd_price span{
    display: block;
    line-height: 22px;
    color: red;
}
.cart_goods li .gd_price span small{
    color: #666;
    padding-left: 3px;
}
.cart_goods li .gd_price a{
    display: block;
    width: 70px;
    height: 14px;
}
.total{
    width: 310px;
    height: 49px;
    padding: 10px;
    text-align: right;
    background: #eee;
}
.total p{
    padding-bottom: 5px;
}
.total p span{
    color: red;
    text-align: center;
}
.total a{
    display: inline-block;
    color: #fff;
    width: 100px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: #f04747 url(../images/bg2.png) -351px -235px no-repeat;
}
/*---------menu------------*/
.menu_box{
    height: 30px;
    line-height: 30px;
}
.menu{
    margin: 0 auto;
    width: 981px;
}
.menu .menu-list{
    height: 30px;
    margin-left: 200px;
}
.menu .menu-list li {
    float: left;
    text-align: center;
    font-size: 14px;
    font-family: "微软雅黑";
}
.menu .menu-list li a {
    display: block;
    width: 90px;
    height: 30px;
    color: #444;
    font-weight: 600;
}
.menu  .menu-list li a:hover {
    text-decoration: none;
    color: #fff;
    background: url(../images/bg2.png) -351px -195px no-repeat;
}
/*---------------主体部分-----------*/
.main{
    width: 981px;
    margin: 0 auto;
}
.place_site{
    height: 40px;
    line-height: 40px;
    color: #666;
    padding-left: 5px;
}
.place_site a{
    color: #666;
}
.place_site span{
    color: #999;
    padding: 0 3px;
}
/*----filter----*/
.filters{
    margin:  0 auto 20px;
}
.filters .fit_txt{
    height: 30px;
    line-height: 30px;
    border-bottom: 2px solid #ff5160;
}
.ft_tit{
    float: left;
    padding-left: 10px;
    height: 30px;
    background: url(../images/bg2.png) -232px -195px no-repeat;
}
.ft_tit h2{
    float: left;
    display: block;
    height: 30px;
    color: #FFF666;
    font-size: 15px;
    text-align: center;
    background: #FF5160;
}
.ft_tit span{
    color: #fff;
    padding-left: 5px;
}
.ft_tit .icon{
    float: left;
    display: block;
    width: 10px;
    height: 30px;
    background: url(../images/bg2.png) -331px -195px no-repeat;
}
.filt_area{
    width: 981px;
    height: 152px;
    overflow: hidden;
    background: #efefef;
}
.filt_area .areas{
    padding: 8px 10px;
    border-bottom: 2px solid #fff;
    height: 20px;
}
.filt_area .areas span{
    float: left;
    display: block;
    width: 90px;
    height: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: right;
}
.filt_area .areas ul{
    margin-left: 50px;
    overflow: hidden;
}
.filt_area .areas ul li{
    float: left;
    line-height: 20px;
    padding: 0 5px;
}
.filt_area .areas ul li a{
    text-decoration: none;
    color: #005AA0;
}
.filt_area .areas ul li a:hover{
    color: #e70012; 
}
.filt_order{
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    margin-top: 10px;
    border: 1px solid #ddd;
    background: #f5f5f5;

}
.filt_order div{
    float: left;
    line-height: 26px;
    margin-top: 7px;
}
.filt_order ul{
    float: left;
    margin-top: 7px;
}
.filt_order ul li{
    height: 26px;
    line-height: 26px;
    margin-right: 6px;
    float: left;   
}
.filt_order ul li a{
    padding: 0 10px;
    height: 24px;
    border: 1px solid #eee;
    background: #fff;
    text-align: center;
    display: block;
}
.filt_order ul .curr a{
    background: #FF5160;
    color: #fff;
}
/*-----------分页加载--------------*/
.content{
    width: 981px;
    height: auto;
    margin: 0 auto;
}
#showControlPage{
    overflow: hidden;
}
#showControlPage ul{
    overflow: hidden;
}
#showControlPage ul li{
    float: left;
    display: block;
    width: 220px;
    padding: 10px 11px 10px 12px ;
    margin: 10px 0 10px -1px ;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #fff #fff #eee;
    margin-right: 1px;
}
#showControlPage ul li:hover{
    width: 220px;
    padding: 10px 11px;
    margin: 10px 0;
    margin-right: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #ff9191;
}
#showControlPage ul li .pt{
    position: relative;
}
#showControlPage ul li .pt .pic{
    display: block;
    width: 220px;
    height: 220px;
    margin: 0 auto;
}
#showControlPage ul li .pt .pic img{
    width: 100%;
    height: 100%;
}
#showControlPage ul li .pt .tit{
    display: block;
    height: 36px;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 10px 0;
    overflow: hidden;
}
#showControlPage ul li .pt .prom{
    color: red;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    overflow: hidden;
}
#showControlPage ul li .price{
    padding: 5px 10px;
}
#showControlPage ul li .price span{
    color: #E4393C;
    font-family: "Microsoft YaHei";
}
#showControlPage ul li .price span i{
    font-size: 26px;
    font-family: "Microsoft YaHei";
    font-style: normal;
}
#showControlPage ul li .part{
    padding:  0 10px;
}
#showControlPage ul li .part .cart{
    width: 200px;
    height: 28px;
    line-height: 28px;
}
#showControlPage ul li .part .cart a{
    float: left;
    display: block;
    height: 28px;
    text-decoration: none;
    font-size: 14px;
    background: url(../images/bg2.png) 0 -479px;
}
#showControlPage ul li .part .cart .add{
    width: 96px;
    color: #fff;
    padding-left: 12px;
    background-position: 0 -479px;
}
#showControlPage ul li .part .cart .atte{
    width: 78px;
    padding-left: 14px;
    background-position: -108px -479px;
}
#showControlPage ul li .meta{
    padding: 10px 0;
}
#showControlPage ul li .meta .sale{
    float: left;
}
#showControlPage ul li .meta .sale i{
    font-style: normal;
}
#showControlPage ul li .comm{
    float: right;
}
#showControlPage ul li .comm .tx{
    float: left;
}
#showControlPage ul li .comm .score-star{
    float: left;
    display: block;
    width: 70px;
    height: 12px;
    background: url(../images/star.jpg) center center no-repeat;
}
/*----跳转页面-----*/
.content .pages {
    margin: 20px 0;
    text-align: center;
    padding: 10px 0;
    border-radius: 2px;
    overflow: hidden;
    background: #fff;
}
.pages .page_num {
    display: inline-block;
}
.pages .page_num li {
    float: left;
    line-height: 34px;
    margin: 0 3px;
}
.pages .page_num li .lis li{
    float: left;
    display: block;
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
}
.pages .page_num li span {
    float: left;
    display: block;
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
}
.pages .page_num .sum {
    float: left;
    padding: 0 10px;
}
.pages .page_num li i {
    float: left;
    font-style: normal;
}
.pages .page_num li #text {
    float: left;
    width: 25px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin: 0 5px;
    padding: 0 3px;
    border-color: #aaa #ddd #ddd #aaa;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    outline: none;
}
.pages .page_num li #go {
    float: left;
    width: 42px;
    height: 34px;
    color: #444;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #bbb;
    background: #f1f1f1;
    outline: none;
}
 .active{
    color: blue;
}
/*----------footer-------------*/
.footer {
    width: 100%;
    margin-top: 20px;
    font-family: "微软雅黑";
    background: #f5f5f5;
}
.foot_service {
    border-bottom: 1px solid #dfdfdf;
    background: #fff;
}
.foot_service ul {
    width: 1150px;
    margin: 0 auto;
    padding: 20px 0 20px 50px;
    overflow: hidden;
}
.foot_service ul li {
    float: left;
    width: 150px;
    line-height: 20px;
    font-size: 16px;
    padding-left: 40px;
    background: url(../images/bg.png) 0 -180px no-repeat;
}
.foot_service ul li .p1 {
    color: #333;
}
.foot_service ul li .p2 {
    color: #777;
}
.foot_service ul .li1 {
    background-position: 0 -180px;
}
.foot_service ul .li2 {
    background-position: 0 -228px;
}
.foot_service ul .li3 {
    background-position: 0 -277px;
}
.foot_service ul .li4 {
    background-position: 0 -327px;
}
.foot_service ul .li5 {
    background-position: 0 -373px;
}
.foot_service ul .li6 {
    background-position: 0 -425px;
}
/*---------灰色背景区-----------*/
.footer .foot_area {
    width: 1200px;
    margin: 0 auto;
    height: 346px;
}
.foot_cont {
    padding: 20px 0 20px 50px;
    height: 150px;
}
.foot_cont .rxlx {
    float: left;
    width: 240px;
}
.foot_cont .rxlx {
    float: left;
    width: 240px;
}
.foot_cont .rxlx .rxlx_rx {
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 10px;
    text-indent: -999px;
    overflow: hidden;
    background: url(../images/bg.png) 0 0 no-repeat;
}
.foot_cont .rxlx .rxlx_lx {
    margin-left: 30px;
}
.foot_cont .rxlx .rxlx_lx p {
    font-size: 14px;
    padding: 5px 0;
    color: #8a8a8a;
}
.foot_cont .rxlx .rxlx_lx strong {
    font-size: 16px;
    color: #555;
}
.foot_cont .links {
    float: left;
    padding-left: 40px;
}
.foot_cont .links dl {
    float: left;
    width: 120px;
}
.foot_cont .links dl dt {
    line-height: 40px;
    font-size: 14px;
    color: #555;
}
.foot_cont .links dl dd a {
    display: block;
    height: 22px;
    line-height: 22px;
    color: #666;
}
/*----------------------------------*/
/*-------------微博关注-------------*/
/*----------------------------------*/
.foot_cont .wb_follow {
    float: right;
    width: 260px;
    height: 150px;
}
.wb_follow .wbsm {
    float: left;
    width: 120px;
    overflow: hidden;
}
.wb_follow .wbsm img {
    display: block;
    width: 110px;
    height: 130px;
}
.wb_follow .wbsm span {
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
}
.wb_follow .weibo_mail {
    margin-left: 120px;
}
.weibo_mail .wb_tit {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #8a8a8a;
}
.weibo_mail .wb_pic{
    height: 64px;
    background: url(../images/gzrs.jpg) 64px 0 no-repeat;
}
.weibo_mail .wb_pic img{
    display: inline-block;
    float: left;
    width: 64px;
}
.weibo_mail .wb_pic span{
    height: 22px;
    line-height: 22px;
    width: 64px;
    text-align: center;
    float: left;

}
.weibo_mail .wb_pic span:hover{
    color:blue;
}

/*----------------------------------*/
/*-------------底部导航-------------*/
/*----------------------------------*/
.foot_nav {
    width:1200px;
    margin: 0 auto; 
    text-align: center;
    height: 
}
.foot_nav ul {
    display:inline-block;
    text-align: center;
}
.foot_nav ul li {
    float: left;
    color: #999;
}
.foot_nav ul li a {
    padding: 0 15px;
}
.Copyright {
    text-align: center;
    padding: 20px 0;
    color: #777;
}
.Copyright a {
    color: #777;
}
.Copyright img{
    display: inline-block;
}